/* Athanor OS Bedrock: Only allow wheel group to become admin */
polkit.addAdminRule(function(action, subject) {
    return ["unix-group:wheel"];
});
